<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Acomment">
    <title>{{post.title}}</title>
    <style>
        @media screen and (min-width: 600px) {
            .children form {
                margin-left: -48px;
                /* will touch very left side */
            }

            .children .children form {
                margin-left: -96px;
                /* will touch very left side */
            }
        }
    </style>
</head>

<body>
    <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">D-talk</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div> -->
    <div class='d-flex justify-content-around'>

        <div class="mid">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-9">
                        <h1>Title : {{post.title}}</h1>
                    </div>
                    <div class="col-md-9"><img class="card-img-top" src="{{post.image.url}}" alt="{{ post.title }}">
                    </div>
                    <div class="col-md-7">
                        {% load mptt_tags %}
                        <div class="py-4">
                            <nav aria-label="Page navigation example">
                                {% if comments.has_other_pages %}
                                <ul class="pagination">
                                    {% if comments.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ comments.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                    {% endif %}
                                    {% for num in comments.paginator.page_range %}
                                    {% if comments.number == l %}
                                    <li class="page-item active"><span class="page-link">{{ num }} <span
                                                class="sr-only">(current)</span></span>
                                    </li>
                                    {% else %}
                                    <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if comments.has_next %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ comments.next_page_number }}">Next</a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <div class="ques"><span>Question :</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, magnam?
                        Tenetur commodi ratione similique a explicabo?

                    </div>
                    <div class="ans"><span>Answer :</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde cupiditate sequi magni animi omnis
                        iure id neque, minima atque, doloremque nihil cumque. Accusantium, quia velit distinctio
                        voluptatem nobis ducimus tempora!
                    </div>
                    <div class="comment"><span class="material-icons-outlined">
                        comment
                        </span>

                    </div>
                </div> -->
            </div>
        </div>
        <div class="right">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-md btn-block" data-toggle="modal"
                data-target="#exampleModalCenter">
                Ask A Question
            </button>
            <button type="button" class="btn btn-outline-dark btn-md btn-block" data-toggle="modal"
                data-target="#exampleModalCenter">
                Write Your Answer
            </button>
            <!-- Modal -->
            <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered bg-light" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: rgba(75, 63, 238, 0.418);">
                            <h3 class="modal-title" id="exampleModalLongTitle">Qestion/Answer</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="background-color: rgba(199, 191, 245, 0.26);">
                            <div>
                                <h6>Contact us directly if you have any questions</h6>
                                <p>
                                    Please write your name, email address and a message below if you have any
                                    questions.
                                    One of our staff members will be happy to contact you directly and answer your
                                    questions as soon as
                                    possible.
                                </p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button type="submit"
                                        class='btn btn-outline-primary btn-md btn-block'>Submit</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px;">
                {% with allcomments.count as total_comments %}
                <h2>
                    {{ total_comments }} Comments{{ total_comments|pluralize }}
                </h2>
                {% endwith %}
                {% load mptt_tags %}
                {% recursetree comments %}
                <div id="{{ node.id }}" class="my-2 p-2"
                    style="border: 1px solid black; border-radius: 5px; background-color: rgba(128, 128, 128, 0.13);">
                    <div class="d-flex justify-content-between">By {{ node.name }}<div></div>{{ node.publish}}
                    </div>
                    <div>{{ node.content }}</div>
                    <hr />
                    {% if node.level < 3 %} <button class="button btn btn-dark" onclick="myFunction({{node.id}})">
                        Reply</button>
                        {% endif %}
                </div>
                {% if not node.is_leaf_node %}
                <div class="children pl-2 pl-md-5">
                    {{ children }}
                </div>
                {% endif %}
                {% endrecursetree %}
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-md btn-block" data-toggle="modal"
                data-target="#ModalCenter">
                Create New Comments
            </button>

            <!-- Modal -->
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header " style="background-color: rgba(75, 63, 238, 0.418);">
                            <h5 class="modal-title" id="ModalLongTitle">Create New Comments</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="background-color: rgba(199, 191, 245, 0.26);">
                            <div id="myDIV" style="display:block;">
                                <form id="myForm" method="post">
                                    {{ comment_form.as_p }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='' style="margin-top: 10px; background-color: rgba(197, 102, 102, 0.404); margin-top: 20px;">
                <h4>Recently Asked Question</h4>
            </div>
            <div class='bg-light m-0 p-0' style="margin-top: 10px;">
                <ol>
                    <li><a href="#">Are there any question and answer sites?</a></li>
                    <li><a href="#">What are question and answer forums good for?</a></li>
                    <li><a href="#">What is the most widely used forum or questions site for web developers
                            and..</a>
                    </li>
                    <li><a href="#">Which are the best Question/Answer websites?</a></li>
                    <li><a href="#">What is the best platform/tool for building a question-answer website?</a></li>
                </ol>
            </div>
        </div>
    </div>

    <script>
        function formExit() {
            document.getElementById("newForm").remove();
        }

        function myFunction(id) {
            if (document.contains(document.getElementById("newForm"))) {
                document.getElementById("newForm").remove();
            }

            var d1 = document.getElementById(id);
            d1.insertAdjacentHTML('afterend',
                '<form id="newForm" class="form-insert py-2" method="post"> \
                      <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                      <label for="id_name">Name:</label> \
                      <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                      <select name="parent" class="d-none" id="id_parentt"> \
                      <option value="' + id + '" selected="' + id + '"></option> \
                      </select> \
                      <label for="id_email">Email:</label> \
                      <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                      <label for="id_content">Content:</label> \
                      <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                      {% csrf_token %} \
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                    </form>');

            //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
        }

        $('#myForm').trigger("reset");
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>